

body {
    color: antiquewhite;
    text-align: center;
}

.form-group input{
    background-color: #ffffff96;
}

#devolucionesMensaje {
    color: rgba(227, 231, 20, 0.605);
}

#ajusteMargen {
    color: rgba(20, 224, 231, 0.734);
}